
body {
    background-color: rgb(251,183,46);
}

#about-div {
  position:absolute;
  bottom:10;
  right:10;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

#status-notice-div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}


#status-div {
  font-size: 50px;
}


.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}


.middle {
  display: table-cell;
  vertical-align: middle;
}


.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  /*whatever width you want*/
}


